<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baicai.mybatis.dao.UserDao">
	
	<!-- <sql id="columns">id, user_name, password, name, age, sex, birthday, created, updated</sql> -->
	
    <select id="queryUserById" resultType="User" parameterType="long">
        select <include refid="sqlSegment.columns" /> from tb_user where id = #{id}
    </select>
    
    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO tb_user(id, user_name, password, name, age, sex, birthday, created, updated) 
		VALUES(null, #{username}, #{password}, #{name}, #{age}, #{sex}, #{birthday}, now(), now())
	</insert>
	
	<update id="update" parameterType="User">
		UPDATE tb_user SET user_name = #{username}, password = #{password}, name = #{name}, age = #{age}, sex = #{sex}, birthday = #{birthday}, updated = now()
		WHERE id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="long">
		DELETE FROM tb_user WHERE id = #{id}
	</delete>
	
	<select id="queryUserByUsername" resultType="User">
		<!-- ${username}会取到连接池的username=root哦，#{}预编译占位，不会 -->
	  	<!-- SELECT * FROM tb_user WHERE user_name = '${username}' -->
	  	SELECT * FROM tb_user WHERE user_name = '${param1}'
	  	<!-- SELECT * FROM tb_user WHERE user_name = #{username} -->
	  	<!-- SELECT * FROM tb_user WHERE user_name = #{param1} -->
	</select>
	
	<select id="queryUserLikeUsername" resultType="User">
	 	<!-- ${}单引号双引号都可以；${username}会取到连接池的username=root哦 -->
	  	<!-- SELECT * FROM tb_user WHERE user_name LIKE '%${param1}%' -->
	  	<!-- SELECT * FROM tb_user WHERE user_name LIKE "%${param1}%" -->
	  	<!-- SELECT * FROM tb_user WHERE user_name LIKE "%${username}%" -->
	  	<!-- #{}只能用双引号 -->
	  	<!-- SELECT * FROM tb_user WHERE user_name LIKE "%"#{param1}"%" -->
	  	<!-- SELECT * FROM tb_user WHERE user_name LIKE CONCAT("%",#{username},"%") -->
	  SELECT * FROM tb_user WHERE user_name LIKE "%"#{username}"%"
	</select>
</mapper>