<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="UserMapper">

    <select id="selectOne" resultType="com.baicai.mybatis.pojo.User">
        SELECT * FROM tb_user WHERE id = #{id}
    </select>
    
    <select id="selectList" resultType="com.baicai.mybatis.pojo.User">
        SELECT * FROM tb_user
    </select>
    
    <insert id="insert" parameterType="com.baicai.mybatis.pojo.User">
        INSERT INTO tb_user(id, user_name, password, name, age, sex, birthday, created, updated) 
        VALUES(null, #{userName}, #{password}, #{name}, #{age}, #{sex}, #{birthday}, now(), now())
    </insert>
    
    <update id="update" parameterType="com.baicai.mybatis.pojo.User">
        UPDATE tb_user SET user_name = #{userName}, password = #{password}, name = #{name}, age = #{age}, sex = #{sex}, birthday = #{birthday}, updated = now()
        WHERE id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM tb_user WHERE id = #{id}
    </delete>
</mapper> -->

<!-- 动态代理时的映射文件 -->
<mapper namespace="com.baicai.mybatis.dao.UserDao">

    <select id="queryUserById" resultType="com.baicai.mybatis.pojo.User">
        SELECT * FROM tb_user WHERE id = #{id}
    </select>
    
    <select id="queryAll" resultType="com.baicai.mybatis.pojo.User">
        SELECT * FROM tb_user
    </select>
    
    <insert id="insert" parameterType="com.baicai.mybatis.pojo.User">
        INSERT INTO tb_user(id, user_name, password, name, age, sex, birthday, created, updated) 
        VALUES(null, #{userName}, #{password}, #{name}, #{age}, #{sex}, #{birthday}, now(), now())
    </insert>
    
    <update id="update" parameterType="com.baicai.mybatis.pojo.User">
        UPDATE tb_user SET user_name = #{userName}, password = #{password}, name = #{name}, age = #{age}, sex = #{sex}, birthday = #{birthday}, updated = now()
        WHERE id = #{id}
    </update>
    
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM tb_user WHERE id = #{id}
    </delete>
</mapper>